body {
    width: 100%;
    margin: 0;
}

.one{
    background: black;
    background-color: black;
}


.navbar {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-bottom: none;

}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-nav .nav-link {
    margin-right: 20px !important; 
    color: #fff !important;
}

.navbar-nav.nav-link:hover {
    color: #fff;
}

p{
    font-size: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial;
}