body {
    width: 100%;
    margin: 0;
}

.one{
    background: black;
    background-color: black;
    z-index: 99;
}


.navbar {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-bottom: none;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-nav .nav-link {
    margin-right: 20px !important; 
    color: #fff !important;
}

.navbar-nav.nav-link:hover {
    color: #fff;
}

p{
    font-size: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial;
}

.skills{
    background-color: black;
}

.card-body{
    background-color: black;
}

img.card-img-top{
    background-color: black;
    padding: 20%;
}

p.card-text{
    color: #fff;
    text-align: center;
}

#myimage{
    border-radius: 20px !important;
    border-color:#fff;
    border: solid;
}